@font-face {
  font-family: "iconfont"; /* Project id 3527119 */
  src: url('iconfont.woff2?t=1657973344190') format('woff2'),
       url('iconfont.woff?t=1657973344190') format('woff'),
       url('iconfont.ttf?t=1657973344190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-daosanjiao:before {
  content: "\e74b";
}

